/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;  
}

aside {
    position: fixed;
    background: #139BF2;
    width: 410px;
    height: 100vh;
    z-index: 100;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 2s ease-in-out;
}


/*  Estilo card curriculo */
@keyframes loading {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100%{opacity: 100%;}
}
@keyframes btn-Animation {
    0%{opacity: 0; width: 0;}
    50%{opacity: 0; width: 0;}
    100%{opacity: 100%;}
}

.container {  /* container de estilo curriculo */
    width: 90vw;
    display: flex;
    flex-flow: row-reverse;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.estiloCurriculo{
    display: grid;
    grid-template-areas: "myNameIs myNameIs"
                "articleLeft articleRight";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;

    color: white;
    border-radius: 20px;
    animation: loading 2s normal;
    font-family: 'Roboto', sans-serif;
    padding-left: 80px;

    height: 850px;
    width: 1000px;

    border-radius: 17px;
    background: #139BF2;
    box-shadow:  5px 5px 5px #08446a,
                 -5px -5px 3px #32b0ff;
}
.estiloCurriculo h1 {
    grid-area: myNameIs;
    font-size: 24pt;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}

.estiloCurriculo h2 {
    font-size: 20pt;
    font-weight: 400;
    padding: 30px 0 10px;
}
.estiloCurriculo h3{
    font-size: 12pt;
    font-weight: lighter;
    line-height: 30px;
}
#articleLeft {
    grid-area: articleLeft;
}
#articleRight{
    grid-area: articleRight;
}

.container img {
    z-index: 2;
    margin-left: -100px;
    height: 600px;
    filter: grayscale(0.5);
    animation: loading 3s normal;
}
.links{
    color: currentColor;
}
.curriculoOffViewer{ 
    display: none;
}

/* ------------------- */


.btn-curriculo {
    display: flex;
    position: absolute;
    background-color: transparent;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: solid 10px white; 
    cursor: pointer;
    
    box-shadow: #139BF2 -15px 0px 0px 50px;

    justify-content: center;
    align-items: center;
    color: transparent;
    transition: 1s ease;
}
.btn-curriculo h2{
    display: none;
}

.btn-curriculo:hover{
    background: #32b0ff;
    color: white;
}


.sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    height: 100vh;
    margin-right: -65px;
    transition: 4s;
}
.section-top {
    background: rgb(255, 255, 255);
    height: 42.9vh;
    width: 100px;
    margin-right: 5px;
    border-bottom-left-radius: 100px;
    transition: 2s;
}
.section-mid{
    background: rgb(255, 255, 255);
    height: 42.9vh;
    width: 100px;
    margin-right: 5px;
    border-top-left-radius: 100px;
    transform: 2s;
}




/* --------------- Aside Curriculo -----------------------------*/
/*---------------- Trasição para tela curriculo ----------------*/
 .asideCurriculo {
    background: #139BF2;
    width: 100vw;
    height: 100vh;


    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}




.btn-curriculo-active {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 170px;
    height: 170px;
    border: solid 10px white; 
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color:transparent ; 

    position: relative;
    float: right;

    box-shadow: none;
    justify-content: center;
    align-items: center;
    color: transparent;
    animation: btn-Animation 3.5s normal;
}
.btn-curriculo-active:hover{
    color: #139BF2;
    background: white;
}
.btn-curriculo-active h1{
    display: none;
}
.btn-curriculo-active h2 {
    display: block;
}

.sectionsRight {
    display: none;
}

/*  ----------end asideCur---------- */


/* ----------------Header Section------------------
 */
header{
    padding: 0;
    margin: 0;
    height: 10vh;
}
.headerTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32pt;
    font-weight: bolder;
    color: #139BF2;
}

@keyframes aniBarraTitulo {
    from { opacity: 0; }
    to{ opacity: 100%;}
}
.headerTitulo::after{
    content: '';
    width: 6px;
    height: 70px;
    margin: 10px;
    background-color: #139BF2;
    animation: aniBarraTitulo 0.7s  infinite;
}
main{
    display: flex;
    flex-direction: column;
    float: right;
    height: auto;
    width: 70vw;

    margin: 0;
    padding: 0;
}

/* -------------About Section------------------------------------------- */
.sectionAboutMe{
    display: flex;
    height: 100vh;
    align-items: center;

    background-image: url("../assets/imgs/background-about-me.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center ;
}




.textAboutMe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    color: white;
    font-family: 'Roboto', sans-serif;    
}
.textAboutMe h1 {
    font-weight: 700;
    font-size: 24pt;
}
.textAboutMe p{
    width: 15vw;
    font-size: 14pt;
    font-weight: bold;
    line-height: 30px;

}
.textAboutMe span{
    filter: invert();
}
.textAboutMe span img{
    padding: 10px;
}
.textAboutMe span img:hover {
    opacity: 70%;
    transition: 0.5s;
}
.sectionAboutMe:nth-child(2){ /* posição do menu accessibility */
    justify-content: flex-end;
}


#acessibility {
    width: 100vw;
}
.menuAccessibility {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    
    width: 30px;
    height: 300px;
    border-radius: 20px;
    background: #139BF2;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.menuAccessibility a {
    color: #ffffff;
    padding: 20px 10px;
    text-decoration: none;
}
.menuAccessibility a:hover {
    color: #ffffff;
    background-color: #1382DB;
    transition: 0.5s;
}

.menuAccessibility a:nth-child(1):hover::before {
    position: fixed;
    margin-left: -100px;
    margin-top: -20px;
    color: #ffffff;
    content: 'about';
    background: rgba(41, 41, 41, 0.548);
    padding: 20px;
    border-radius: 10px;

}
.menuAccessibility a:nth-child(2):hover::before {
    position: fixed;
    margin-left: -100px;
    margin-top: -20px;
    color: #ffffff;
    content: 'skills';
    background: rgba(41, 41, 41, 0.548);
    padding: 20px;
    border-radius: 10px;


    
}
.menuAccessibility a:nth-child(3):hover::before {
    position: fixed;
    margin-left: -120px;
    margin-top: -20px;
    color: #ffffff;
    content: 'projects';
    background: rgba(41, 41, 41, 0.548);
    padding: 20px;
    border-radius: 10px;
    animation: obsTime 0.8s;
}


/* ---------------------- Skills Section-------------------------- */

.sectionMySkills{
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
}

.tituloseIcones{
    display: flex;
    background: #139BF2;
    border-radius: 20px;
    width: 400px;
    height: 5vh;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

.tituloseIcones img {
    filter: invert();
    width: 30px;
    padding-right: 10px;
}
h2 img{ /* icone do titulo */
    filter: invert();
    padding: 0px;
}

.descSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 10px;
    align-items: center;
    justify-items: center;
    column-gap: 5vw;

}
.descSkills p{
    color: #5f5f5f60;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
}
.containerSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin-top: 10vh;
}
.containerSkills h2 {
    color: #023157c5;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10vh;
    margin-bottom: 20vh;
}


/* ------------------------------------------- */

.sectionMyProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'titulo titulo';
    gap: 50px;
    align-items: center;
    justify-items: center;
    padding-bottom: 60px;
}
.tituloseIcones:nth-child(1){
    grid-area: titulo;
    
}

.cardProject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 570px;
    border: 1px solid #139BF2;
    border-radius: 10px;

    box-shadow: #07c2db77 10px 10px 20px;
    transition: 1s;
}
.cardProject:hover{
    box-shadow: #1381db 2px 5px;

}
.cardProject #previewProject {
    padding: 10px;
    display: flex;
}
.cardProject article{
    height: 300px;
    padding: 0px 30px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg,#139BF2, #07C2DB);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cardProject h2{
    font-size: 18pt;
    font-weight: bold;
    color: white;
    transition: 0.5s;
    padding-top: 20px;
}

.cardProject a{
    text-decoration: none;
}
.cardProject p{
    font-size: 14pt;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.753);
    
}
.cardProject article img{
    padding: 10px 5px;
    filter: invert();
}
.cardProject article img:hover{
    opacity: 60%;
    transition: 1s;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #139BF2;
    height: 20vh;
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    font-weight: lighter;
    padding-bottom: 10px;
}


@media screen and (max-width: 1450px) {
    aside{
        width: 20vw;
    }
    main{
        width: 75vw;
    }
    .menuAccessibility{
        display: none;
    }
    .textAboutMe {
        width: 120vw;
    }
    .textAboutMe p {
        width: 20vw;
    }
}

@media screen and (max-width: 1285px){
    aside{
        width: 13vw;
    }
    main {
        width: 80vw;
    }
    #complementos {
        display: none;
    }
    .btn-curriculo{
        margin-right: -50px;
        background-color: #139BF2;
    }
}
@media screen and (max-width: 1200px){
    aside{
        display: none;
    }
    .btn-curriculo{
        margin-right: 60px;
    }
    main{
        width: 100vw;
    }
    .textAboutMe{
        width: 150vw;
    }

    .sectionMySkills{
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .sectionAboutMe{
        background-size: 100vw;
    }

    .textAboutMe{
        height: 65vh ;
    }
    .textAboutMe p {
        width: 30vw;
    }

    .sectionMyProjects{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 940px){
    .textAboutMe {
        height: 60vh;
    }
    .textAboutMe p {
        width: 30vw;
    }
}
@media screen and (max-width: 860px){
    .textAboutMe {
        height: 55vh;
    }

}

@media screen and (max-width: 785px){
    .headerTitulo {
        font-size: 34pt;
    }
    .textAboutMe {
        height: 45vh;
    }
    .textAboutMe h1 {
        font-size: 20pt;
    }
    .textAboutMe p {
        font-size: 10pt;
    }
}
@media screen and (max-width: 700px) {    
    main{
        height: auto;
    }
    header{
        height: 10vh;
        
    }
    .headerTitulo {
        font-size: 18pt;
    }
    .headerTitulo::after{
        height: 25px;
        width: 2px;
    }
    .sectionAboutMe{
        width: 100vw;
        height: 90vh;
        background-image: url("../assets/imgs/background-mobile-about-me.png");
        background-size: 110%;
        background-position: right 50% top 5%;
    }

    .textAboutMe{
        margin: 0 40vw;
        width: 55vw;
        height: 84vh;
        padding: 10px;
        justify-content: space-between;
    }
    .textAboutMe p{
        font-size: 10pt;
        padding: 0 20px;
        font-weight: 400;
        width: 50vw;

        line-height: 24px;
    }    
    .textAboutMe h1{
        font-size: 14pt;
    }

    .textAboutMe span{
        display: flex;
        justify-content: center;
    }
    .textAboutMe span img{
        width: 35px;
    }

    .menuAccessibility{
        display: flex;
        height: 200px;
        width: 50px;
        margin: 20px;
        opacity: 70%;
    }
    .sectionAboutMe:nth-child(2){
        align-items: flex-end;
    }

    /* ----------------- */

    .tituloseIcones{
        width: 240px;
        margin: 30px;
    }
    .sectionMySkills {
        width: 100vw;
        flex-direction: column;
    }

    .containerSkills{
        width: 100vw;
        align-items: center; 
    }
    .containerSkills h2 {
        padding: 0 50px;
    }


    /* ----------------- */
    
    .cardProject {
        width: 300px;
        height: 500px;
    }
    .cardProject article p{
        font-size: 10pt;
        margin-top: 0px;
        padding-top: 10px;
    }
    .cardProject article h2{
        font-size: 14pt;

    }

    footer {
        font-size: 8pt;
    }
}

